<nav class="navbar navbar-dark navbar-expand-lg bg-dark shadow">
  <div class="container-fluid">
    <%= link_to image_tag("Logo.svg", size: "50x50"), root_path, data: { turbo: false }, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Share's", root_path, class: "nav-link shares" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Secciones
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li class="d-flex">
              <%= link_to pages_ror_path, class: "dropdown-item" do %>
                <%= image_tag "diamante.svg", size: "25x25" %>
                Ruby on Rails
              <% end %>
            </li>
            <li class="d-flex">
              <%= link_to pages_html_css_path, class: "dropdown-item" do %>
                <%= image_tag "html.svg", size: "25x25" %>
                HTML
              <% end %>
            </li>
            <li class="d-flex">
              <%= link_to pages_html_css_path, class: "dropdown-item" do %>
                <%= image_tag "css.svg", size: "25x25" %>
                CSS
              <% end %>
            </li>
            <li class="d-flex">
              <%= link_to pages_html_css_path, class: "dropdown-item" do %>
                <%= image_tag "js.svg", size: "25x25" %>
                JavaScript
              <% end %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="d-flex">
              <%= link_to pages_javascript_path, class: "dropdown-item" do %>
                <%= image_tag "cheet.svg", size: "25x25" %>
                Cheat-Sheets
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
